<!DOCTYPE html>
<html lang="pt-br">
    <title>URLIST</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <meta charset="utf-8">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />    <meta charset="utf-8">
    <meta name="description" content="Urlist é uma plataforma virtual de organização, organize sua rotina conosco!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Organização, To-do List, Agenda">
    <meta name="author" content="Hannely Thays Maske, Jackson Ricardo Riebe, Maria Eduarda Leite.">

    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
</head>
<body class="pagina-home">
<header class="bg-white border-bottom">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-8 col-md-4">
                <div class="brand">
                    <a href="/" title="Urlist"><img src="logo.jpeg" alt="Urlist"></a>
                </div>
            </div>
            <div class="col-4 col-md-8">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <button class="navbar-toggler ml-auto" data-target="#togglemenu" data-toggle="collapse" aria-controls="togglemenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="togglemenu">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link px-3 mx-lg-1" href="index.html">HOME</i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-3 mx-lg-1" href="login.html">LOGIN</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-3 mx-lg-1" href="contato.html">CONTATO</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <h1>Seu cadastro foi concluido com sucesso</h1>
</header>
</body>
</html>